<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090821933223-s86delq4rtkbln26g8m3d901jl4hq3j8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090821933223-s86delq4rtkbln26g8m3d901jl4hq3j8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1090821933223-7u1ut75gh7ordda9o6i8dulc6sfff3pj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyChDbJU_y5Vf90WHD_06ck_gVr9IgMt9M8</string>
	<key>GCM_SENDER_ID</key>
	<string>1090821933223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.com.kma.hatuan314.metien</string>
	<key>PROJECT_ID</key>
	<string>smart-wallet-d598c</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-wallet-d598c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090821933223:ios:67743e3f00c2b888007382</string>
</dict>
</plist>